/* about  */
/* Для всіх ефектів ховер і фокуса (колір, фон, тінь) зроблені переходи. 
Час - 250ms, 
функція розподілу часу - 
cubic-bezier(0.4, 0, 0.2, 1). */

/* base style before screen 375px */

.about-hotel {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* .about-goust-title {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.about-home-list{
    
} */

/* .about-home-list {
} */

.lobby-image-about {
  position: relative;
}

.bath-image-about {
  margin-top: 20px;
  margin-bottom: 32px;
  max-width: 282px;
}

.reviews {
  display: flex;
  max-width: 212px;
  width: 100%;
  position: absolute;
  /* top: 420px;
left:123px; */
  bottom: -9%;
  right: 0%;
  z-index: 2;

  background-color: var(--typical-dark-color);
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.reviews-item {
  margin: 10px 12px 10px 14px;
}
.alex {
  border-radius: 50%;
}

.name-reviews {
  margin-top: 12px;
  margin-bottom: 7px;
  font-family: 'DMSans-Medium-500', sans-serif;
  /* font-style: normal;
    font-weight: 500; */
  font-size: 14px;
  line-height: 1;
  color: var(--typical-suptitle-color);
}

.rating-reviews {
  font-family: 'DM Sans-400', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: #575757;
}

.rating-number {
  color: var(--typical-light-color);
}
.about-home-title {
  font-family: 'DM Sans-400', sans-serif;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
  margin-bottom: 18px;
}

.about-home-subtitle {
  font-family: 'DMSans-Medium-500', sans-serif;
  font-size: 13px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--typical-dark-color);
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 64px;
}

.complex-text-container {
  max-width: 335px;
}
.busines-text-container {
  margin-top: 54px;
  margin-bottom: 40px;
  max-width: 263px;
}

.buisnes-image-list {
  position: relative;
}

.reviews-alex {
  display: flex;
  max-width: 212px;
  width: 100%;
  height: 61px;
  position: absolute;
  /* top: 272px; */
  bottom: -8%;
  left: 0;
  z-index: 2;

  background-color: var(--typical-dark-color);
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* =================== ADAPTIVE ===================== */

/* @media screen and (min-width: 375px) {

} */

@media screen and (min-width: 768px) {

  .about-hotel {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-home-subtitle {
    font-family: 'DMSans-Medium-500', sans-serif;
    font-size: 18px;
    line-height: 1.33;
  }

  .about-home-list {
    position: relative;
  }
  .lobby-image-about {
    max-width: 482px;
  }

  .bath-image-about {
    max-width: 404px;
    position: absolute;
    top: 209px;
    left: 300px;
    margin-top: 0;
  }

  .reviews {
    top: 176px;
    left: 370px;
    bottom: auto;
  }

  .complex-text-container {
    max-width: 472px;
    margin-top: 32px;
  }

  .sub-container {
    padding-bottom: 80px;
  }

  .buisnes-image-list {
    margin-bottom: 40px;
  }

  .buisnes-bokal-image {
    margin-left: auto;
    max-width: 530px;
  }
  .reviews-alex {
    top: 303px;
    left: auto;
    right: 425px;
    bottom: auto;
  }

  .buisnes-hotel-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 32px;
  }

  .buisnes-resoran-image {
    max-width: 266px;
  }
}

@media screen and (min-width: 1440px) {

  .about-hotel {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-hotel-container {
    display: flex;
    /* padding-bottom: 100px; */
  }

  .box-pictures-about {
    width: 739px;
  }

  .bath-image-about {
    max-width: 439px;
    position: absolute;
    top: 209px;
    left: 300px;
  }
  .complex-text-container {
    max-width: 472px;
    margin-top: 199px;
    margin-left: 107px;
  }

  .about-hotel-container-mini {
    display: flex;
    flex-direction: row-reverse;

    padding-top: 100px;
  }

  .buisnes-image-list {
    margin-bottom: 0;
  }

  .buisnes-hotel-list {
    gap: 54px;
  }

  .busines-text-container {
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 263px;
  }

  .buisnes-hotel-list {
    margin-top: 127px;
    margin-right: 82px;
  }
}
