<!-- Abour a kitchen -->
<section class="about-kitchen">
    <div class="container">
        <div class="about-kitchen-img-wrap">
            <div class="kitchen-list-img">
                    <div class="kitchen-item-1">
                            <picture>
                                <source srcset="./img/desktop/man-cooc-desktop-1x-511-598px.jpg 1x, ./img/desktop/man-cooc-desktop-2x-511-598px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg">
                                <source srcset="./img/mobile/man-cooc-mobile-1px-335-443px.jpg 1x, ./img/mobile/man-cooc-mobile-2px-335-443px.jpg 2x" media="(max-width: 767px)"  type="image/jpeg">
                                <source srcset="./img/tablet/man-cooc-tablet-1x-388-515px.jpg 1x, ./img/tablet/man-cooc-tablet-2x-388-515px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg">
                                <img src="./img/desktop/man-cooc-desktop-1x-511-598px.jpg" alt="man cook">
                            </picture>
                    </div>
                    <div class="about-kitchen-wrap">
                        <div class="kitchen-item-2">
                            
                                <picture>
                                    <source srcset="./img/desktop/meat-desktop-1x-334-389px.jpg 1x, ./img/desktop/meat-desktop-2x-334-389px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg">
                                    <source srcset="./img/mobile/meat-mobile-1x-158-149px.jpg 1x, ./img/mobile/meat-mobile-2x-158-149px.jpg 2x" media="(max-width: 767px)"  type="image/jpeg">
                                    <source srcset="./img/tablet/meat-tablet-1x-284-296px.jpg 1x, ./img/tablet/meat-tablet-2x-284-296px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg">
                                    <img src="./img/desktop/meat-desktop-1x-334-389px.jpg" alt="meat">
                                </picture>
                        </div>
                        <div class="kitchen-item-3">
                            
                                <picture>
                                    <source srcset="./img/desktop/coctail-desktop-1x-467-389px.jpg 1x, ./img/desktop/coctail-desktop-2x-467-389px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg">
                                    <source srcset="./img/mobile/coctail-mobile-1x-157-149px.jpg 1x, ./img/mobile/coctail-mobile-2x-157-149px.jpg 2x" media="(max-width: 767px)"  type="image/jpeg">
                                    <source srcset="./img/tablet/coctail-tablet-1x-284-203px.jpg 1x, ./img/tablet/coctail-tablet-2x-284-203px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg">
                                    <img src="./img/desktop/coctail-desktop-1x-467-389px.jpg" alt="cocktail">
                                </picture>
                        </div>
                    </div>
            </div >
        </div>
    <div class="about-kitchen-text-wrap">
        <h2 class="visually-hidden">About a kitchen</h2>
        <ul class="kitchen-list">
            <li class="kitchen-text-item">
                <p class="kitchen-text">At Mimino, we are experts in <em>meat preparation</em>. 
                    Our chefs use only the finest and freshest ingredients to <em>create delicious dishes</em> that showcase the flavors of premium cuts of meat.</p>
            </li>
            <li class="kitchen-text-item">
                <p class="kitchen-text">Our <em>slow-cooking process</em> and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. 
                    Come taste the magic of <em>meat preparation at</em> Mimino.</p>
            </li>
        </ul>
    </div>
</section>