<section class="rest-menu" id="menu-restaurant">
<div class="container">
<h1 class="head-title">RESTAURANT MENU</h1>

<div class="nav">
    <div class="nav-list">   <a class="nav-link" href="#hot-meals">HOT MEALS</a></div> 
    <div class="nav-list">   <a class="nav-link" href="#snacks">SIDE DISHES AND SNACKS</a></div> 
    <div class="nav-list">   <a class="nav-link" href="#salads">SALADS</a></div> 
    <div class="nav-list">   <a class="nav-link" href="#desserts">DESSERTS</a></div>
    <div class="nav-list">   <a class="nav-link" href="#drinks">DRINKS</a></div>
</div>

<div class="section-menu">
    <div class="center-div">
        <ul class="box-section">
            <div id="hot-meals" class="section-title">HOT MEALS</div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Veal borscht with beans</p>
                    <p class="weight">400 g</p>
                </div>
                <div class="supline">
                    <p class="content">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                    <p class="price">240 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals" >Cheese soup with chicken</p>
                    <p class="weight">400 g</p>
                </div>
                <div class="supline">
                    <p class="content">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                    <p class="price">200 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Carbonara pasta</p>
                    <p class="weight">400 g</p>
                </div>
                <div class="supline">
                    <p class="content">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                    <p class="price">430 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Pork steak</p>
                    <p class="weight">400 g</p>
                </div>
                <div class="supline">
                    <p class="content">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                    <p class="price">500 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Gorbusha in white wine sauce</p>
                    <p class="weight">400 g</p>
                </div>
                <div class="supline">
                    <p class="content">Tender redfish, cream sauce based on white wine</p>
                    <p class="price">400 UAH</p>
                </div>
            </div>
        </ul>
        
    </div>
   <div class="center-div">
        <ul class="box-section">
            <div id="snacks" class="section-title">SIDE DISHES AND SNACKS</div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Baked vegetables</p>
                    <p class="weight">200 g</p>
                </div>
                <div class="supline">
                    <p class="content">Zucchini, pepper, tomato, eggplant</p>
                    <p class="price">230 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">French fries</p>
                    <p class="weight">150 g</p>
                </div>
                <div class="supline">
                    <p class="content">Potatoes, tomato sauce</p>
                    <p class="price">160 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Peasant-style potatoes</p>
                    <p class="weight">150 g</p>
                </div>
                <div class="supline">
                    <p class="content">Potatoes, spices, spicy sauces</p>
                    <p class="price">160 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Crisp pickles from the barrel</p>
                    <p class="weight">250 g</p>
                </div>
                <div class="supline">
                    <p class="content">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                    <p class="price">350 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Chicken wings in honey sauce</p>
                    <p class="weight">400 g</p>
                </div>
                <div class="supline">
                    <p class="content">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                    <p class="price">350 UAH</p>
                </div>
            </div>
        </ul>
   </div>
   <div class="center-div">
        <ul class="box-section">
            <div  id="salads" class="section-title">SALADS</div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Caesar with chicken</p>
                    <p class="weight">230 g</p>
                </div>
                <div class="supline">
                    <p class="content">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                    <p class="price">450 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Caesar with shrimp</p>
                    <p class="weight">230 g</p>
                </div>
                <div class="supline">
                    <p class="content">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                    <p class="price">300 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals"> Greek salad</p>
                    <p class="weight">230 g</p>
                </div>
                <div class="supline">
                    <p class="content">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                    <p class="price">280 UAH</p>
                </div>
            </div>
            <div class="plus">
                <div class="supline">
                    <p class="name-meals">Meat salad</p>
                    <p class="weight">230 g</p>
                </div>
                <div class="supline">
                    <p class="content">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                    <p class="price">300 UAH</p>
                </div>
            </div>
        </ul>
   </div>
   <div class="center-div">
        <ul class="box-section">
            <div id="desserts" class="section-title">DESSERTS</div>
            <div>
                <div class="supline plus">
                    <p class="name-meals">Napoleon cake</p>
                    <p class="price">200 UAH</p>
                </div>
                <div class="supline plus">
                    <p class="name-meals">Poppy cake</p>
                    <p class="price">300 UAH</p>
                </div>
                <div class="supline plus">
                    <p class="name-meals">Tiramisu</p>
                    <p class="price">260 UAH</p>
                </div>
            </div>
            <div id="drinks" class="section-title">DRINKS</div>
            <div>
                <div class="supline plus">
                    <p class="name-meals">Black/green tea</p>
                    <p class="price">100 UAH</p>
                </div>
                <div class="supline plus">
                    <p class="name-meals">Espresso</p>
                    <p class="price">100 UAH</p>
                </div>
                <div class="supline plus">
                    <p class="name-meals">Cappuccino</p>
                    <p class="price">100 UAH</p>
                </div>
            </div>
        </ul>
   </div>
</div>
<button class="btn-book-menu" data-modal-table-open-o>BOOK A TABLE</button>
</div>
</section>