<!-- section DOUBLE LUXURY ROOM -->

<section class="double-lux">
  <div class="container">
    <div class="double-lux-img-wrap">
      <ul class="double-lux-list list">
        <li class="double-lux-item item-bedroom">
          <picture>
            <source
              srcset="
                ./img/desktop/sofa-desktop-1x-539-762px.jpg 1x,
                ./img/desktop/sofa-desktop-2x-539-762px.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/tablet/hotel-double-bedroomroom-tabl-1x-331-468px.jpg 1x,
                ./img/tablet/hotel-double-bedroomroom-tabl-2x-331-468px.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/room1-mobile-1x.jpg          1x,
                ./img/mobile/sofa-mobile-2x-335-468px.jpg 2x
              "
              media="(max-width: 737px)"
            />
            <img
              class="double-lux-photo-bedroom"
              src="./img/mobile/room1-mobile-1x.jpg"
              alt="bedroom photo"
              width="539"
              height="762"
            />
          </picture>
        </li>
        <li class="double-lux-img-item item-bathroom">
          <picture>
            <source
              srcset="
                ./img/desktop/bathroom4-desktop-1x-387-510px.jpg 1x,
                ./img/desktop/bathroom4-desktop-2x-387-510px.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/tablet/hotel-double-bathroom-tabl-1x-223-261px.jpg 1x,
                ./img/tablet/hotel-double-bathroom-tabl-2x-223-261px.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/mobile/bathroom2-mobile-1x-158-149px.jpg 1x,
                ./img/mobile/bathroom2-mobile-2x-158-149px.jpg 2x
              "
              media="(max-width: 737px)"
              type="image/jpeg"
            />
            <img
              class="double-lux-photo-bathroom"
              src="./img/mobile/bathroom2-mobile-1x-158-149px.jpg"
              alt="bathroom photo"
              width="387"
              height="510"
            />
          </picture>
        </li>
        <li class="double-lux-item item-kitchen">
          <picture>
            <source
              srcset="
                ./img/desktop/kitchen-desktop-1x-386-395px.jpg 1x,
                ./img/desktop/kitchen-desktop-2x-386-395px.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/tablet/hotel-double-kitchen-tabl-1x-341-175px.jpg 1x,
                ./img/tablet/hotel-double-kitchen-tabl-2x-341-175px.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/hotel-double-kitchen-mob-1x-158-149px.jpg 1x,
                ./img/mobile/hotel-double-kitchen-mob-2x-158-149px.jpg 2x
              "
              media="(max-width: 737px)"
            />
            <img
              class="double-lux-photo-kitchen"
              src="./img/mobile/hotel-double-kitchen-mob-1x-158-149px.jpg"
              alt="kitchen photo"
              width="387"
              height="395"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="double-text-big-wrap">
      <div>
        <h2 class="double-lux-title">DOUBLE LUXURY ROOM</h2>
        <ul class="double-lux-text-list list">
          <li class="double-lux-text-item">
            <p class="double-lux-text">
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </li>
          <li class="double-lux-text-item">
            <p class="double-lux-text">
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </li>
        </ul>
      </div>
      <div class="btn-list-wrap">
        <ul class="double-lux-btn-list list">
          <li class="double-lux-btn-item">
            <a class="double-lux-btn-link link" href="./page-room.html"
              >More details</a
            >
          </li>
          <li class="double-lux-btn-item">
            <button
              class="double-lux-btn btn"
              type="button"
              data-modal-prices-open-a
            >
              View prices
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
