
<!------------FOUR-SEATER-------------->

<section class="four-seater">

    <div class="container">
        <div class="four-seater-photos">
            <ul class="four-seater-photos-list">
            <li class="four-seater-item-1">
                <picture>
                    <source srcset="./img/desktop/kitchen2-desktop-1x-386-395px.jpg 1x, ./img/desktop/kitchen2-desktop-2x-386-395px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg" />
                    <source srcset="./img/mobile/kitchen2-mobile-1x-158-158px.jpg 1x, ./img/mobile/kitchen2-mobile-2x-158-158px.jpg 2x"   media="(max-width: 767px)"  type="image/jpeg" />
                    <source srcset="./img/tablet/kitchen2-tablet-1x-341-175px.jpg 1x, ./img/tablet/kitchen2-tablet-2x-341-175px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg" />
                    <img src="./img/desktop/kitchen2-desktop-1x-386-395px.jpg" alt="kitchen">
                </picture>
            </li> 
                <li class="four-seater-item-2">
                    <picture>
                        <source srcset="./img/desktop/bedroom3-desktop-1x-539-762px.jpg 1x, ./img/desktop/bedroom3-desktop-2x-539-762px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg" />
                        <source srcset="./img/mobile/bedroom3-mobile-1x-335-468px.jpg 1x, ./img/mobile/bedroom3-mobile-2x-335-468px.jpg 2x"   media="(max-width: 767px)"  type="image/jpeg" />
                        <source srcset="./img/tablet/bedroom3-tablet-1x-331-468px.jpg 1x, ./img/tablet/bedroom3-tablet-2x-331-468px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg" />
                        <img src="./img/desktop/bedroom3-desktop-1x-539-762px.jpg" alt="bedroom"/>
                    </picture>
                </li> 
                <li class="four-seater-item-3">
                    <picture>
                        <source srcset="./img/desktop/bathroom3-desktop-1x-387-510px.jpg 1x, ./img/desktop/bathroom3-desktop-2x-387-510px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg" />
                        <source srcset="./img/mobile/bathroom3-mobile-1x-158-158px.jpg 1x, ./img/mobile/bathroom3-mobile-2x-158-158px.jpg 2x"   media="(max-width: 767px)"  type="image/jpeg" />
                        <source srcset="./img/tablet/bathroom3-tablet-1x-223-261px.jpg 1x, ./img/tablet/bathroom3-tablet-2x-223-261px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg" />
                        <img src="./img/desktop/bathroom3-desktop-1x-387-510px.jpg" alt="bathroom"/>
                    </picture>
                </li> 
          </ul>
           </ul>
       </div>
        <div class="four-seater-text-info">
            <div class="four-seater-text">
            <h2 class="title-triple">FOUR-SEATER ROOM</h2>
            <p class="text-four-seater">Our 4-person room is perfect for small groups, offering comfort and convenience with 4 comfortable beds, ample storage, flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof walls. Book now for a memorable stay.</p>
            </div>
            <div class="div-button-list">
           <ul class="four-seater-button-list">
           <li class="four-seater-button-item"> <a class="four-seater-button-link" href="./page-room.html">MORE DETAILS</a></li>
           <li class="four-seater-button-item"> <button class="four-seater-button" data-modal-prices-open-c type="button">View prices</button></li>
           </ul>
        </div>
       </div>
   </div>
   </section>