<!------------Triple-------------->
<section class="triple">
  <div class="container">
    <div class="triple-photos">
      <ul class="triple-list-photo">
        <li class="triple-item-1">
            <picture>
                <source srcset="./img/desktop/kitchen4-desktop-1x-386-395px.jpg 1x, ./img/desktop/kitchen4-desktop-2x-386-395px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg" />
                <source srcset="./img/mobile/kitchen-mobile-1x-157-149px.jpg 1x, ./img/mobile/kitchen-mobile-2x-157-149px.jpg 2x"   media="(max-width: 767px)"  type="image/jpeg" />
                <source srcset="./img/tablet/kitchen4-tablet-1x-341-175px.jpg 1x, ./img/tablet/kitchen4-tablet-2x-341-175px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg" />
                <img src="./img/desktop/kitchen4-desktop-1x-386-395px.jpg" alt="kitchen">
              </picture>
        </li> 
            <li class="triple-item-2">
                <picture>
                  <source srcset="./img/desktop/bedroom2-desktop-1x-539-762px.jpg 1x, ./img/desktop/bedroom2-desktop-2x-539-762px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg" />
                    <source srcset="./img/mobile/bedroom2-mobile-1x-335-468px.jpg 1x, ./img/mobile/bedroom2-mobile-2x-335-468px.jpg 2x"   media="(max-width: 767px)"  type="image/jpeg" />
                    <source srcset="./img/tablet/bedroom2-tablet-1x-331-468px.jpg 1x, ./img/tablet/bedroom2-tablet-2x-331-468px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg" />
                    <img src="./img/desktop/bedroom2-desktop-1x-539-762px.jpg" alt="bedroom"/>
                  </picture>
            </li> 
            <li class="triple-item-3">
                <picture>
                  <source srcset="./img/desktop/bathroom2-desktop-1x-387-510px.jpg 1x, ./img/desktop/bathroom2-desktop-2x-387-510px.jpg 2x" media="(min-width: 1440px)"  type="image/jpeg" />
                    <source srcset="./img/mobile/bathroom2-mobile-1x-158-149px.jpg 1x, ./img/mobile/bathroom2-mobile-2x-158-149px.jpg 2x"   media="(max-width: 767px)"  type="image/jpeg" />
                    <source srcset="./img/tablet/bathroom2-tablet-1x-223-261px.jpg 1x, ./img/tablet/bathroom2-tablet-2x-223-261px.jpg 2x" media="(min-width: 768px)"  type="image/jpeg" />
                    <img src="./img/desktop/bathroom2-desktop-1x-387-510px.jpg" alt="bathroom"/>
                  </picture>
            </li> 
      </ul>
    </div>
    <div class="triple-info-text">
    <ul class="triple-button-list">
      <li class="triple-button-item">
        <a class="triple-button-link" href="./page-room.html">More details</a>
      </li>
      <li class="triple-button-item">
        <button class="triple-button" data-modal-prices-open-b type="button">View prices</button>
      </li>
    </ul>
    <div class="triple-text-info">
        <h2 class="title-triple">Triple Room</h2>
        <ul class="triple-text-div">
          <li class="tripple-text-item">
            <p class="text-triple">
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </li>
          <li class="tripple-text-item">
            <p class="text-triple">
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </li>
        </ul>
  </div>
</div> 
  </div>
</section>
