<section class="general-amenities">
  <div class="container general-amenities-container">
    <h2 class="visually-hidden">Amenities</h2>
    <ul class="general-amenities-list list">
      <li class="general-amenities-item">
        <h3 class="general-amenities-subtitle">
          General Amenities & Facilities:
        </h3>
        <ul class="amenities-list">
          <li><p class="amenities-text">24-hour front desk service</p></li>
          <li><p class="amenities-text">Daily housekeeping</p></li>
          <li><p class="amenities-text">Free Wi-Fi throughout the hotel</p></li>
          <li><p class="amenities-text">Elevator access</p></li>
          <li><p class="amenities-text">Luggage storage</p></li>
          <li><p class="amenities-text">Non-smoking rooms available</p></li>
          <li>
            <p class="amenities-text">Meeting rooms for business and events</p>
          </li>
          <li><p class="amenities-text">On-site parking (surcharge)</p></li>
          <li><p class="amenities-text">Concierge services</p></li>
        </ul>
      </li>
      <li class="general-amenities-item">
        <h3 class="general-amenities-subtitle">Bathroom:</h3>
        <ul class="amenities-list">
          <li><p class="amenities-text">Private bathroom with shower</p></li>
          <li><p class="amenities-text">Complimentary toiletries</p></li>
          <li><p class="amenities-text">Hair dryer</p></li>
          <li><p class="amenities-text">Fresh towels daily</p></li>
          <li>
            <p class="amenities-text">
              Deluxe bathrobes (in some room categories)
            </p>
          </li>
        </ul>
      </li>
      <li class="general-amenities-item">
        <h3 class="general-amenities-subtitle">Bedroom:</h3>
        <ul class="amenities-list">
          <li>
            <p class="amenities-text">
              Comfortable beds with high-quality linens
            </p>
          </li>
          <li><p class="amenities-text">Blackout curtains</p></li>
          <li>
            <p class="amenities-text">
              Climate control (air conditioning and heating)
            </p>
          </li>
          <li><p class="amenities-text">Safe for valuables</p></li>
          <li><p class="amenities-text">Writing desk and chair</p></li>
          <li>
            <p class="amenities-text">Flat-screen TV with cable channels</p>
          </li>
        </ul>
      </li>
      <li class="general-amenities-item">
        <h3 class="general-amenities-subtitle">Kitchen:</h3>
        <ul class="amenities-list">
          <li>
            <p class="amenities-text">
              In-room kitchenette (in some room categories)
            </p>
          </li>
          <li><p class="amenities-text">Refrigerator</p></li>
          <li><p class="amenities-text">Microwave</p></li>
          <li><p class="amenities-text">Electric kettle</p></li>
          <li><p class="amenities-text">Cooking utensils and cutlery</p></li>
          <li><p class="amenities-text">Dining table and chairs</p></li>
        </ul>
      </li>
      <li class="general-amenities-item">
        <h3 class="general-amenities-subtitle">Media:</h3>
        <ul class="amenities-list">
          <li>
            <p class="amenities-text">Flat-screen TV with cable channels</p>
          </li>
          <li><p class="amenities-text">High-speed Wi-Fi</p></li>
          <li><p class="amenities-text">iPod docking station</p></li>
          <li><p class="amenities-text">Speaker system</p></li>
          <li>
            <p class="amenities-text">
              Electrical outlets for charging devices.
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="amenities-images-list">
      <li class="amenities-images-item amenities-first-img">
        <picture>
          <source
            srcset="
              ./img/desktop/soap2-desktop-1x-439-219px.jpg 1x,
              ./img/desktop/soap2-desktop-2x-439-219px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/soap2-tablet-1x-365-182px.jpg 1x,
              ./img/tablet/soap2-tablet-2x-365-182px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/soap2-mobile-1x-207-103px.jpg 1x,
              ./img/mobile/soap2-mobile-2x-207-103px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 375px)"
          />
          <img
            src="./img/desktop/soap2-desktop-1x-439-219px.jpg"
            alt="Photo of Product Designer"
            width="439"
          />
        </picture>
      </li>
      <li class="amenities-images-item amenities-second-img">
        <picture>
          <source
            srcset="
              ./img/desktop/bathroom2-desktop-1x-496-636px.jpg 1x,
              ./img/desktop/bathroom2-desktop-2x-496-636px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/bathroom2-tablet-1x-408-525px.jpg 1x,
              ./img/tablet/bathroom2-tablet-2x-408-525px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/bathroom2-mobile-1x-259-333px.jpg 1x,
              ./img/mobile/bathroom2-mobile-2x-259-333px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 375px)"
          />
          <img
            src="./img/desktop/bathroom2-desktop-1x-496-636px.jpg"
            alt="Photo of Product Designer"
            width="496"
          />
        </picture>
      </li>
    </ul>
    <button class="amenities-btn btn" data-modal-room-open-h type="button">Book a room</button>
  </div>
</section>
