<!-- section -->
<section class="hero-hotel">
  <div class="container hotel-hero-container">
    <h1 class="hero-hotel-title animate__animated animate__fadeInDown">
      DOUBLE<br />
      LUXURY ROOM
    </h1>
    <ul class="hero-buttons-hotel">
      <li>
        <button class="hero-button-hotel first" type="button" data-modal-prices-open-l>
          View prices
        </button>
      </li>
    </ul>

    <ul class="hero-img-list">
      <li class="hero-img-item">
        <picture class="hero-img">
          <source
            srcset="
              ./img/desktop/sofa-desktop-1x-539-762px.jpg 1x,
              ./img/desktop/sofa-desktop-2x-539-762px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/tablet/sofa-tablet-1x-331-468px.jpg 1x,
              ./img/tablet/sofa-tablet-2x-331-468px.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mobile/sofa-mobile-1x-335-468px.jpg 1x,
              ./img/mobile/sofa-mobile-2x-335-468px.jpg 2x
            "
            type="image/jpeg"
            media="(max-width:767px)"
          />
          <img
            srcset=""
            src="./img/mobile/sofa-mobile-1x-335-468px.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="hero-img-item">
        <picture class="hero-img-cut double-room-cut">
          <source
            srcset="./img/Double-room-cut-desktop.png"
            type="image/jpeg"
            media="(min-width:1440px)"
          />
          <source
            srcset="./img/Double-room-cut-tablet.jpg"
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            srcset="./img/Double-room-cut-mobile.jpg"
            type="image/jpeg"
            media="(max-width:767px)"
          />
          <img src="./img/Double-room-cut-mobile.jpg" alt="" />
        </picture>
      </li>
    </ul>
    <ul class="arrows-list double-arrows">
      <li class="arrow-item">
        <img class="arrow-icon" src="./img/arrow-left-icon.svg" alt="" />
      </li>
      <li class="arrow-item">
        <img class="arrow-icon" src="./img/arrow-right-icon.svg" alt="" />
      </li>
    </ul>
    <p class="hero-hotel-text double-room-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
