<!-- section about -->
<section class="about-hotel">
  <div class="container about-hotel-container">
    <h2 class="visually-hidden">Restaurant-hotel complex</h2>

    <div class="box-pictures-about">
      <ul class="about-home-list">
        <li class="lobby-image-about">
          <picture>
            <source
              srcset="
                ./img/tablet/Lobby-tablet-1x.jpg 1x,
                ./img/tablet/Lobby-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <img
              srcset="
                ./img/mobile/lobby-1x.jpg 1x,
                ./img/mobile/lobby-2x.jpg 2x
              "
              src="./img/mobile/lobby-1x.jpg"
              alt="lobby"
            />
          </picture>
          <div class="reviews">
            <div class="reviews-item">
              <picture>
                <source
                  srcset="
                    ./img/mobile/Maria-1x.png 1x,
                    ./img/mobile/maria-2x.png 2x
                  "
                  media="(min-width:300px)"
                />
                <img
                  srcset="
                    ./img/mobile/Maria-1x.png 1x,
                    ./img/mobile/maria-2x.png 2x
                  "
                  src="./img/mobile/Maria-1x.png"
                  alt="maria"
                  width="41"
                  height="41"
                />
              </picture>
            </div>
            <div class="maria-rating">
              <p class="name-reviews">Maria</p>
              <p class="rating-reviews">
                give rating <span class="rating-number">4.5</span>
              </p>
            </div>
          </div>
        </li>

        <li class="bath-image-about">
          <picture>
            <source
              srcset="
                ./img/tablet/bath-tablet-1x.jpg 1x,
                ./img/tablet/bath-tablet-2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1440px)"
              type="image/jpg"
            />
            <source
              srcset="
                ./img/desktop/bath-desktop-1x.jpg 1x,
                ./img/desktop/bath-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpg"
            />
            <img
              srcset="
                ./img/mobile/bathroom-mobile-1x-282-153px.jpg 1x,
                ./img/mobile/bathroom-mobile-2x-282-153px.jpg 2x
              "
              src="./img/mobile/bath-1x.jpg"
              alt="bath"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="complex-text-container">
      <h3 class="about-home-title">restaurant-hotel complex</h3>
      <div class="sub-container">
        <p class="about-home-subtitle">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="about-home-subtitle">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="about-hotel-container-mini">
      <div class="buisnes-image-list">
        <picture>
          <source
            srcset="
              ./img/tablet/bokal-tablet-1x.jpg 1x,
              ./img/tablet/bokal-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="buisnes-bokal-image"
            srcset="
              ./img/mobile/mob-bokal-tabel-1x.jpg 1x,
              ./img/mobile/mob-bokal-tabel-2x.jpg 2x
            "
            src="./img/mobile/mob-bokal-tabel-1x.jpg"
            alt="bokal"
          />
        </picture>
        <div class="reviews-alex">
          <div class="reviews-item">
            <picture>
              <source
                srcset="
                  ./img/mobile/alexander-1x.png 1x,
                  ./img/mobile/alexander-2x.png 2x
                "
              />
              <img
                class="alex"
                src="./img/mobile/alexander-1x.png"
                alt="Alexander"
                width="41"
                height="41"
              />
            </picture>
          </div>
          <div class="maria-rating">
            <p class="name-reviews">Alexander</p>
            <p class="rating-reviews">
              give rating <span class="rating-number">5.5</span>
            </p>
          </div>
        </div>
      </div>
      <ul class="buisnes-hotel-list">
        <li>
          <div class="busines-text-container">
            <h3 class="about-home-title">business class hotel</h3>
            <p class="about-home-subtitle">
              The Mimino hotel features spacious and stylish double luxury rooms
              with modern amenities for a comfortable stay.
            </p>
          </div>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ./img/tablet/restorant-tablet-1x.jpg 1x,
                ./img/tablet/restorant-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <img
              class="buisnes-resoran-image"
              srcset="
                ./img/mobile/cafe-mobile-1x-335-309px.jpg 1x,
                ./img/mobile/cafe-mobile-2x-335-309px.jpg 2x
              "
              src="./img/mobile/cafe-mobile-1x-335-309px.jpg"
              alt="cafe"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
