<header class="header">
    <div class="container ">
        <div class="header-container">
            <nav>
                <ul class="navigation">
                    <li class="item"><a class="nav-head-name selected" href="./index.html">Home</a></li>
                    <li class="item"><a class="nav-head-name second-selected" href="./page-hotel.html">Hotel</a></li>
                    <li class="item"><a class="nav-head-name three-selected" href="./page-restaurant.html">Restaurant</a></li>
                </ul>
                <button type="button" class="burger-btn" data-menu-open><svg class="burger-menu"><use class="burger-svg" href="./img/sprite-nikita.svg#icon-burger-menu"></use></svg></button >
            </nav>
            
                <a class="logo-box hero-logo" href="./index.html">
                    <p class="up-logo">Mimino</p>
                    <p class="down-logo">restaurant-hotel complex</p>
                </a>
            
            <div class="flex-empty"></div>
            <ul class="sm-list">
                <li class="item"><a class="sm-link-header" href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-instagram-light"></use></svg></a></li>
                <li class="item"><a class="sm-link-header" href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-facebook-light"></use></svg></a></li>
                <li class="item"><a class="sm-link-header" href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-twitter-light"></use></svg></a></li>
            </ul>
        </div >
    </div>
    <div class="mobile-menu is-hidden" data-menu>
        
            <div class="mobile-menu-header">
                <div class="container">
                    
                    <div class="mobile-menu-header-box">
                        <button type="button" class="mobile-menu-close-btn" data-menu-close><svg class="close-icon"><use class="close-svg" href="./img/sprite-nikita.svg#icon-x-close"></use></svg>
                        </button>
                        
                            <a class="logo-box hero-logo menu-logo" href="./index.html">
                                <p class="up-logo">Mimino</p>
                                <p class="down-logo">restaurant-hotel complex</p>
                            </a>
                        
                        <ul class="sm-list">
                            <li class="item"><a class="sm-link-header" href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-instagram-light"></use></svg></a></li>
                            <li class="item"><a class="sm-link-header" href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-facebook-light"></use></svg></a></li>
                            <li class="item"><a class="sm-link-header" href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-twitter-light"></use></svg></a></li>
                        </ul>
                    </div>
                </div>
                

            </div>
            <div class="container">
                <ul class="mobile-menu-nav">
                 <li class="mobile-menu-item"><a class="nav-name" href="./index.html">Home</a></li>
                 <li class="mobile-menu-item"><a class="nav-name" href="./page-hotel.html">Hotel</a></li>
                 <li class="mobile-menu-item"><a class="nav-name" href="./page-restaurant.html">Restaurant</a></li>
                </ul>
                <ul class="sm-mobmenu-list">
                 <li class="item-sm-mobile-menu"><a href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-instagram-light"></use></svg></a></li>
                 <li class="item-sm-mobile-menu"><a href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-facebook-light"></use></svg></a></li>
                 <li class="item-sm-mobile-menu"><a href=""><svg class="sm-icon"><use href="./img/sprite-nikita.svg#icon-twitter-light"></use></svg></a></li>
             </ul>
                
             </div>
        
    </div>
</header>