<section class="section hotel">
  <div class="container">
    <div class="hotel-title-btn">
      <h2 class="hotel-title">HOTEL</h2>
      <p class="hotel-description">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
      <div class="hotel-btn-list">
        <ul class="hotel-buttons-desk">
          <li class="hotel-btn-item">
        <button type="button" data-modal-room-open-f class="hotel-btn">Book a room</button>
      </li>
      <li class="hotel-btn-item">
            <a class="hotel-btn" href="./page-hotel.html"
              >View rooms</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="hotel-images-tab">
      <div class="hotel-images-item">
        <picture>
            <source
              srcset="./img/desktop/soap-desktop-1x-320-260px.jpg 1x, ./img/desktop/soap-desktop-2x-320-260px.jpg 2x"
              media="(min-width: 1440px)"/>
              <source srcset="./img/tablet/soap-tablet-1x-176-143px.jpg 1x, ./img/tablet/soap-tablet-2x-176-143px.jpg 2x"
              media="(min-width: 768px)">
              <source srcset="./img/mobile/soap-mobile-1x-158-128px.jpg 1x, ./img/mobile/soap-mobile-2x-158-128px.jpg 2x"
              media="(min-width: 375px)">
              <img
              src="./img/desktop/soap-desktop-1x-320-260px.jpg"
              width="320"
              alt="soap on the table"/>
              </picture>
              <picture>
              <source
              srcset="./img/desktop/bathroom-desktop-1x-320-260px.jpg 1x, ./img/desktop/bathroom-desktop-2x-320-260px.jpg 2x"
              media="(min-width: 1440px)"/>
              <source srcset="./img/tablet/bathrooom-tablet-1x-176-258px.jpg 1x, ./img/tablet/bathroom-tablet-2x-176-258px.jpg 2x"
              media="(min-width: 768px)">
              <source srcset="./img/mobile/bathroom-mobile-1x-157-128px.jpg 1x, ./img/mobile/bathroom-mobile-2x-157-128px.jpg 2x"
              media="(min-width: 375px)">
              <img
              src="./img/desktop/bathroom-desktop-1x-320-260px.jpg"
              width="320"
              alt="bathroom"/>
              </picture>

        <!-- <img src="../img/desktop/soap-desktop-2x-320-260px.jpg" alt="" />
        <img src="../img/desktop/bathroom-desktop-2x-320-260px.jpg" alt=""/> -->
      </div>
      <div class="hotel-bedroom-pic">
        <picture>
              <source
              srcset="./img/desktop/bedroom-desktop-1x-420-548px.jpg 1x, ./img/desktop/bedroom-desktop-2x-420-548px.jpg 2x"
              media="(min-width: 1440px)"/>
              <source srcset="./img/tablet/bedroom-tablet-1x-320-417px.jpg 1x, ./img/tablet/bedroom-tablet-2x-320-417px.jpg 2x"
              media="(min-width: 768px)">
              <source srcset="./img/mobile/bedroom-mobile-1x-335-417px.jpg 1x, ./img/mobile/bedroom-mobile-2x-335-417px.jpg 2x"
              media="(min-width: 375px)">
              <img
              src="./img/desktop/bedroom-desktop-1x-420-548px.jpg"
              width="420"
              alt="bedroom"/>
              </picture>
        <!-- <img src="./img/desktop/bedroom-desktop-2x-420-548px.jpg" alt=""/> -->
      </div>
      <div class="hotel-images-item mob">
        <picture>
              <source
              srcset="./img/desktop/bathroom5-desktop-1x-320-260px.jpg 1x, ./img/desktop/bathroom5-desktop-2x-320-260px.jpg 2x"
              media="(min-width: 1440px)"/>
              <source srcset="./img/tablet/bathroom5-tablet-1x-176-258px.jpg 1x, ./img/tablet/bathroom5-tablet-2x-176-258px.jpg 2x"
              media="(min-width: 768px)">
              <img
              src="./img/desktop/bathroom5-desktop-1x-320-260px.jpg"
              width="320"
              alt="bathroom"/>
              </picture>
        <!-- <img src="./img/desktop/bathroom5-desktop-2x-320-260px.jpg" alt=""/> -->

        <picture>
              <source
              srcset="./img/desktop/soap2-desktop-1x-320-260px.jpg 1x, ./img/desktop/soap2-desktop-2x-320-260px.jpg 2x"
              media="(min-width: 1440px)"/>
              <source srcset="./img/tablet/soap2-tablet-1x-176-143px.jpg 1x, ./img/tablet/soap2-tablet-2x-176-143px.jpg 2x"
              media="(min-width: 768px)">
              <img
              src="./img/desktop/soap2-desktop-1x-320-260px.jpg"
              width="320"
              alt="second soap"/>
              </picture>
        <!-- <img src="./img/desktop/soap2-desktop-2x-320-260px.jpg" alt=""/> -->
      </div>
    </div>
    <ul class="hotel-buttons-mob">
      <li class="hotel-btn-item">
        <button type="button" class="hotel-btn" data-modal-room-open-y>Book a room</button>
      </li>
      <li class="hotel-btn-item">
            <a class="hotel-btn" href="./page-hotel.html"
              >View rooms</a>
          </li>
  </section>