<!-- section -->
<section class="section location">
  <div class="container container-location">
    <h2 class="location-title">Location</h2>
    <iframe
      class="google-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9232137442787!2d34.52435761547751!3d49.599197456213396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1677318339280!5m2!1sen!2sua"
      width="640"
      height="524"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <ul class="hotel-addy-contacts">
      <li class="hotel-address">
        Ukraine, Poltava,<br />
        St. Marshal Biryuzov, 15
      </li>
      <li class="hotel-contacts">
        Call us:
        <div class="hotel-phone-numbers">
          <a href="tel:+380955559533" class="hotel-contacts-item"
            >(095) 555 95 33</a
          >
          <a href="tel:+380668491089" class="hotel-contacts-item"
            >(066) 849 10 89</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
