<section class="about-rest">
  <div class="container mini-container">
    <div class="container-swiper">
    <div class="noname" >
       <h1 class="about-rest-title">RESTAURANT</h1>
        <h3 class="about-rest-subtitle">
          Relax and unwind with our delicious offerings, available any time of
          day.
        </h3>
    </div >
      
    <div class="swiper">
      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/man-cooc-mobile-1px-158-201px.jpg 1x,
          ./img/mobile/man-cooc-mobile-2px-158-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/man-cooc-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/man-cooc-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/man-cooc-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/man-cooc-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/man-cooc-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/food2-mobile-1x.jpg 1x,
          ./img/mobile/food2-mobile-2x.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/food2-tablet-1x.jpg 1x,
          ./img/tablet/food2-tablet-2x.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/food2-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/food2-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/food2-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item"> 
        <picture>
          <source srcset="  
          ./img/mobile/girl-mobile-1x.jpg 1x,
          ./img/mobile/girl-mobile-2x.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/girl-tablet-1x.jpg 1x,
          ./img/tablet/girl-tablet-2x.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/girl-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/girl-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/girl-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/food3-mobile-1x.jpg 1x,
          ./img/mobile/food3-mobile-2x.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/food3-tablet-1x.jpg 1x,
          ./img/tablet/food3-tablet-2x.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/food3-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/food3-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/food3-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      
      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/coctail-mobile-1x.jpg 1x,
          ./img/mobile/coctail-mobile-2x.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/coctail-tablet-1x.jpg 1x,
          ./img/tablet/coctail-tablet-2x.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/coctail-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/coctail-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/coctail-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      
      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/food4-mobile-1x.jpg 1x,
          ./img/mobile/food4-mobile-2x.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/food4-tablet-1x.jpg 1x,
          ./img/tablet/food4-tablet-2x.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/food4-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/food4-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/food4-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      <!-- <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
          <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture> -->
            
      </div>

    <div class="arrow-about">
      <button class="arrow-left">
        <svg class="arrow-left-icon" width="7px" height="14px">
          <use href="./img/svg/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button class="arrow-right">
        <svg class="arrow-right-icon" width="7px" height="14px">
          <use href="./img/svg/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
      
    </div>
    <div class="restaurant-button">
      <button class="btn-book-table" data-modal-table-open-s>BOOK A TABLE</button>

      <a class="btn-book-table" href="./page-restaurant.html">VIEW THE MENU</a>
    </div>
    </div>
  </div>
</section>
